.element__reaction {
    grid-area: reaction;
    align-self: center;
    margin-right: 20px;
    width: 22px;
    height: 19px;
    background-image: url(../../images/heart.svg);
    background-repeat: no-repeat;
    background-position: center center;
  }

  .element__reaction:hover {
    cursor: pointer;
    opacity: 0.5;
  }
