.header {
  padding-top: 45px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 41px;
}

@media screen and (max-width: 320px) {
  .header{
    padding-top: 28px;
    gap:31.6px;
  }
}
